root = true

[*]
trim_trailing_whitespace = true

[*.{yaml,yml}]
indent_style = space
indent_size = 2
tab_width = 2

[*.csproj]
indent_style = space
indent_size = 2
tab_width = 2

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
insert_final_newline = false

#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = error
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = error
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.public_const_should_be_pascalcase.severity = error
dotnet_naming_rule.public_const_should_be_pascalcase.symbols = public_const
dotnet_naming_rule.public_const_should_be_pascalcase.style = pascal_case

dotnet_naming_rule.private_const_should_be_c__prefix.severity = error
dotnet_naming_rule.private_const_should_be_c__prefix.symbols = private_const
dotnet_naming_rule.private_const_should_be_c__prefix.style = c__prefix

dotnet_naming_rule.private_static_field_should_be_s__prefix.severity = error
dotnet_naming_rule.private_static_field_should_be_s__prefix.symbols = private_static_field
dotnet_naming_rule.private_static_field_should_be_s__prefix.style = s__prefix

dotnet_naming_rule.private_field_should_be_m__prefix.severity = error
dotnet_naming_rule.private_field_should_be_m__prefix.symbols = private_field
dotnet_naming_rule.private_field_should_be_m__prefix.style = m__prefix

dotnet_naming_rule.parameter_and_local_variables_should_be_camel_case.severity = error
dotnet_naming_rule.parameter_and_local_variables_should_be_camel_case.symbols = parameter_and_local_variables
dotnet_naming_rule.parameter_and_local_variables_should_be_camel_case.style = camel_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = error
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers =

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers =

dotnet_naming_symbols.public_const.applicable_kinds = field
dotnet_naming_symbols.public_const.applicable_accessibilities = public, internal, protected, protected_internal, private_protected
dotnet_naming_symbols.public_const.required_modifiers = const

dotnet_naming_symbols.private_const.applicable_kinds = field
dotnet_naming_symbols.private_const.applicable_accessibilities = private
dotnet_naming_symbols.private_const.required_modifiers = const

dotnet_naming_symbols.types.applicable_kinds = event, class, struct, interface, enum, delegate
dotnet_naming_symbols.types.applicable_accessibilities = *
dotnet_naming_symbols.types.required_modifiers =

dotnet_naming_symbols.private_static_field.applicable_kinds = field
dotnet_naming_symbols.private_static_field.applicable_accessibilities = private
dotnet_naming_symbols.private_static_field.required_modifiers = static

dotnet_naming_symbols.parameter_and_local_variables.applicable_kinds = local
dotnet_naming_symbols.parameter_and_local_variables.applicable_accessibilities = *
dotnet_naming_symbols.parameter_and_local_variables.required_modifiers =

dotnet_naming_symbols.private_field.applicable_kinds = field
dotnet_naming_symbols.private_field.applicable_accessibilities = private
dotnet_naming_symbols.private_field.required_modifiers =

# Naming styles

dotnet_naming_style.pascal_case.required_prefix =
dotnet_naming_style.pascal_case.required_suffix =
dotnet_naming_style.pascal_case.word_separator =
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix =
dotnet_naming_style.begins_with_i.word_separator =
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.s__prefix.required_prefix = s_
dotnet_naming_style.s__prefix.required_suffix =
dotnet_naming_style.s__prefix.word_separator =
dotnet_naming_style.s__prefix.capitalization = pascal_case

dotnet_naming_style.m__prefix.required_prefix = m_
dotnet_naming_style.m__prefix.required_suffix =
dotnet_naming_style.m__prefix.word_separator =
dotnet_naming_style.m__prefix.capitalization = pascal_case

dotnet_naming_style.c__prefix.required_prefix = c_
dotnet_naming_style.c__prefix.required_suffix =
dotnet_naming_style.c__prefix.word_separator =
dotnet_naming_style.c__prefix.capitalization = pascal_case

dotnet_naming_style.camel_case.required_prefix =
dotnet_naming_style.camel_case.required_suffix =
dotnet_naming_style.camel_case.word_separator =
dotnet_naming_style.camel_case.capitalization = camel_case

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = error