name: OpenMod.Rust.Redist

on:
  push:
    branches: [ main ]
    paths:
      - 'rust/redist/**'

jobs:
  build:
    name: "OpenMod.Rust.Redist Pack"
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.x
    - uses: ./.github/actions/nuget-pack
      id: nuget-pack
      with:
        nuspec_path: rust/redist/OpenMod.Rust.Redist.nuspec
        nuget_key: ${{ secrets.NUGET_DEPLOY_KEY }}
        nuget_push: true
