name: OpenMod.API

on:
  create:
    tags:
      - "*"
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/OpenMod.API.yml'
      - 'framework/OpenMod.API/**'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/OpenMod.API.yml'
      - 'framework/OpenMod.API/**'

jobs:
  build:
    name: "OpenMod.API Build"
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2      
    - uses: ./.github/actions/project-build
      id: project-build    
      with:
        project_path: framework/OpenMod.API
        github_token: ${{ secrets.GITHUB_TOKEN }}        
        nuget_key: ${{ secrets.NUGET_DEPLOY_KEY }}
        nuget_push: true