name: OpenMod.UnityEngine.Redist

on:
  push:
    branches: [ main ]
    paths:
      - 'unityengine/redist/**'

jobs:
  build:
    name: "OpenMod.UnityEngine.Redist Pack"
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
      name: Setup .NET
      with:
        dotnet-version: 5.0.100
    - uses: nuget/setup-nuget@v1
      name: Setup NuGet
      with:
        nuget-api-key: ${{ inputs.nuget_key }}
        nuget-version: '5.x'        
    - uses: ./.github/actions/nuget-pack
      id: nuget-pack
      with:
        nuspec_path: unityengine/redist/OpenMod.UnityEngine.Redist.nuspec
        nuget_key: ${{ secrets.NUGET_DEPLOY_KEY }}
        nuget_push: true
